In [ ]:
import nltk

In [ ]:
nltk.download('punkt')   # Punkt Sentence Tokenizer divides a text into a list of sentences

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd

In [ ]:
fake = pd.read_csv("/content/gdrive/MyDrive/Dataset/Fake-210604-161841.csv")
real = pd.read_csv("/content/gdrive/MyDrive/Dataset/True-210604-161650.csv")

In [ ]:
display(fake.head(10))

                                               title  ...               date
0   Donald Trump Sends Out Embarrassing New Year’...  ...  December 31, 2017
1   Drunk Bragging Trump Staffer Started Russian ...  ...  December 31, 2017
2   Sheriff David Clarke Becomes An Internet Joke...  ...  December 30, 2017
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...  December 29, 2017
4   Pope Francis Just Called Out Donald Trump Dur...  ...  December 25, 2017
5   Racist Alabama Cops Brutalize Black Boy While...  ...  December 25, 2017
6   Fresh Off The Golf Course, Trump Lashes Out A...  ...  December 23, 2017
7   Trump Said Some INSANELY Racist Stuff Inside ...  ...  December 23, 2017
8   Former CIA Director Slams Trump Over UN Bully...  ...  December 22, 2017
9   WATCH: Brand-New Pro-Trump Ad Features So Muc...  ...  December 21, 2017

[10 rows x 4 columns]

In [ ]:
display(fake.info)

<bound method DataFrame.info of                                                    title  ...               date
0       Donald Trump Sends Out Embarrassing New Year’...  ...  December 31, 2017
1       Drunk Bragging Trump Staffer Started Russian ...  ...  December 31, 2017
2       Sheriff David Clarke Becomes An Internet Joke...  ...  December 30, 2017
3       Trump Is So Obsessed He Even Has Obama’s Name...  ...  December 29, 2017
4       Pope Francis Just Called Out Donald Trump Dur...  ...  December 25, 2017
...                                                  ...  ...                ...
23476  McPain: John McCain Furious That Iran Treated ...  ...   January 16, 2016
23477  JUSTICE? Yahoo Settles E-mail Privacy Class-ac...  ...   January 16, 2016
23478  Sunnistan: US and Allied ‘Safe Zone’ Plan to T...  ...   January 15, 2016
23479  How to Blow $700 Million: Al Jazeera America F...  ...   January 14, 2016
23480  10 U.S. Navy Sailors Held by Iranian Military ...  ...   January 12, 2016

[23481 rows x 4 columns]>

In [ ]:
print(fake.loc[0])

title       Donald Trump Sends Out Embarrassing New Year’...
text       Donald Trump just couldn t wish all Americans ...
subject                                                 News
date                                       December 31, 2017
Name: 0, dtype: object

In [ ]:
display(real.info)

<bound method DataFrame.info of                                                    title  ...                date
0      As U.S. budget fight looms, Republicans flip t...  ...  December 31, 2017
1      U.S. military to accept transgender recruits o...  ...  December 29, 2017
2      Senior U.S. Republican senator: 'Let Mr. Muell...  ...  December 31, 2017
3      FBI Russia probe helped by Australian diplomat...  ...  December 30, 2017
4      Trump wants Postal Service to charge 'much mor...  ...  December 29, 2017
...                                                  ...  ...                 ...
21412  'Fully committed' NATO backs new U.S. approach...  ...    August 22, 2017
21413  LexisNexis withdrew two products from Chinese ...  ...    August 22, 2017
21414  Minsk cultural hub becomes haven from authorities  ...    August 22, 2017
21415  Vatican upbeat on possibility of Pope Francis ...  ...    August 22, 2017
21416  Indonesia to buy $1.14 billion worth of Russia...  ...    August 22, 2017

[21417 rows x 4 columns]>

In [ ]:
display(fake.subject.value_counts())  # https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [ ]:
display(fake.subject)

0               News
1               News
2               News
3               News
4               News
            ...
23476    Middle-east
23477    Middle-east
23478    Middle-east
23479    Middle-east
23480    Middle-east
Name: subject, Length: 23481, dtype: object

In [ ]:
display(fake.text)

0        Donald Trump just couldn t wish all Americans ...
1        House Intelligence Committee Chairman Devin Nu...
2        On Friday, it was revealed that former Milwauk...
3        On Christmas day, Donald Trump announced that ...
4        Pope Francis used his annual Christmas Day mes...
                               ...
23476    21st Century Wire says As 21WIRE reported earl...
23477    21st Century Wire says It s a familiar theme. ...
23478    Patrick Henningsen  21st Century WireRemember ...
23479    21st Century Wire says Al Jazeera America will...
23480    21st Century Wire says As 21WIRE predicted in ...
Name: text, Length: 23481, dtype: object

In [ ]:
# adding column to the files. Fake is identified by 0 and Real is identified by 1
fake['target'] = 0
real['target'] = 1

In [ ]:
display(fake.head(10))

                                               title  ... target
0   Donald Trump Sends Out Embarrassing New Year’...  ...      0
1   Drunk Bragging Trump Staffer Started Russian ...  ...      0
2   Sheriff David Clarke Becomes An Internet Joke...  ...      0
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...      0
4   Pope Francis Just Called Out Donald Trump Dur...  ...      0
5   Racist Alabama Cops Brutalize Black Boy While...  ...      0
6   Fresh Off The Golf Course, Trump Lashes Out A...  ...      0
7   Trump Said Some INSANELY Racist Stuff Inside ...  ...      0
8   Former CIA Director Slams Trump Over UN Bully...  ...      0
9   WATCH: Brand-New Pro-Trump Ad Features So Muc...  ...      0

[10 rows x 5 columns]

In [ ]:
display(real.head(10))

                                               title  ... target
0  As U.S. budget fight looms, Republicans flip t...  ...      1
1  U.S. military to accept transgender recruits o...  ...      1
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...      1
3  FBI Russia probe helped by Australian diplomat...  ...      1
4  Trump wants Postal Service to charge 'much mor...  ...      1
5  White House, Congress prepare for talks on spe...  ...      1
6  Trump says Russia probe will be fair, but time...  ...      1
7  Factbox: Trump on Twitter (Dec 29) - Approval ...  ...      1
8         Trump on Twitter (Dec 28) - Global Warming  ...      1
9  Alabama official to certify Senator-elect Jone...  ...      1

[10 rows x 5 columns]

In [ ]:
data = pd.concat([fake, real], axis = 0)

In [ ]:
display(data.info)

<bound method DataFrame.info of                                                    title  ... target
0       Donald Trump Sends Out Embarrassing New Year’...  ...      0
1       Drunk Bragging Trump Staffer Started Russian ...  ...      0
2       Sheriff David Clarke Becomes An Internet Joke...  ...      0
3       Trump Is So Obsessed He Even Has Obama’s Name...  ...      0
4       Pope Francis Just Called Out Donald Trump Dur...  ...      0
...                                                  ...  ...    ...
21412  'Fully committed' NATO backs new U.S. approach...  ...      1
21413  LexisNexis withdrew two products from Chinese ...  ...      1
21414  Minsk cultural hub becomes haven from authorities  ...      1
21415  Vatican upbeat on possibility of Pope Francis ...  ...      1
21416  Indonesia to buy $1.14 billion worth of Russia...  ...      1

[44898 rows x 5 columns]>

In [ ]:
display(data[23476:23487])

                                                   title  ... target
23476  McPain: John McCain Furious That Iran Treated ...  ...      0
23477  JUSTICE? Yahoo Settles E-mail Privacy Class-ac...  ...      0
23478  Sunnistan: US and Allied ‘Safe Zone’ Plan to T...  ...      0
23479  How to Blow $700 Million: Al Jazeera America F...  ...      0
23480  10 U.S. Navy Sailors Held by Iranian Military ...  ...      0
0      As U.S. budget fight looms, Republicans flip t...  ...      1
1      U.S. military to accept transgender recruits o...  ...      1
2      Senior U.S. Republican senator: 'Let Mr. Muell...  ...      1
3      FBI Russia probe helped by Australian diplomat...  ...      1
4      Trump wants Postal Service to charge 'much mor...  ...      1
5      White House, Congress prepare for talks on spe...  ...      1

[11 rows x 5 columns]

In [ ]:
# since the index of real starts from 0 after concat as seen above, we need to reset the index
data = data.reset_index(drop = True)   # if drop = False it will add the old index as a separate column

In [ ]:
display(data[23476:23487])
# here we see that the index is reset

                                                   title  ... target
23476  McPain: John McCain Furious That Iran Treated ...  ...      0
23477  JUSTICE? Yahoo Settles E-mail Privacy Class-ac...  ...      0
23478  Sunnistan: US and Allied ‘Safe Zone’ Plan to T...  ...      0
23479  How to Blow $700 Million: Al Jazeera America F...  ...      0
23480  10 U.S. Navy Sailors Held by Iranian Military ...  ...      0
23481  As U.S. budget fight looms, Republicans flip t...  ...      1
23482  U.S. military to accept transgender recruits o...  ...      1
23483  Senior U.S. Republican senator: 'Let Mr. Muell...  ...      1
23484  FBI Russia probe helped by Australian diplomat...  ...      1
23485  Trump wants Postal Service to charge 'much mor...  ...      1
23486  White House, Congress prepare for talks on spe...  ...      1

[11 rows x 5 columns]

In [ ]:
# we drop the columns which we do not need
data = data.drop(['title', 'subject', 'date'], axis = 1)

In [ ]:
data.columns

Index(['text', 'target'], dtype='object')

###**Tokenize**

In [ ]:
from nltk.tokenize import word_tokenize

In [ ]:
data['text'] = data['text'].apply(word_tokenize)

In [ ]:
display(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

###**Stemming**

In [ ]:
from nltk.stem.snowball import SnowballStemmer      # https://www.geeksforgeeks.org/snowball-stemmer-nlp/
porter = SnowballStemmer('english')

In [ ]:
def stem_it(text):
  return [porter.stem(word) for word in text]

In [ ]:
data['text'] = data['text'].apply(stem_it)

In [ ]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

###**Stopword Removal**

In [ ]:
# use the following lines to import stopwords from nltk library
# import nltk
# from nltk.corpus import stopwords
# nltk.download('stopwords')
# print(stopwords.words('english'))

In [ ]:
# here we remove the words which have length less than 2 (that means that we are considering those words as stopwords which have length less than 2)
def stop_it(text):
  dt = [word for word in text if len(word) > 2]
  return dt
# we can also use the above approach it is not mandatory to use this approach or we can create our own stopword removal function

In [ ]:
data['text'] = data['text'].apply(stop_it)

In [ ]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, wish, all, ameri...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [friday, was, reveal, that, former, milwauke, ...       0
3  [christma, day, donald, trump, announc, that, ...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, case, cop, brutal, and, kill, pe...       0
6  [donald, trump, spent, good, portion, his, day...       0
7  [the, wake, yet, anoth, court, decis, that, de...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, get, b...       0

In [ ]:
data['text'] = data['text'].apply(' '.join)

In [ ]:
print(data.head(10))

                                                text  target
0  donald trump just couldn wish all american hap...       0
1  hous intellig committe chairman devin nune hav...       0
2  friday was reveal that former milwauke sheriff...       0
3  christma day donald trump announc that would b...       0
4  pope franci use his annual christma day messag...       0
5  the number case cop brutal and kill peopl colo...       0
6  donald trump spent good portion his day his go...       0
7  the wake yet anoth court decis that derail don...       0
8  mani peopl have rais the alarm regard the fact...       0
9  just when you might have thought get break fro...       0

###**Splitting the data**

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data['text'], data['target'])

In [ ]:
print("Size of x_train: ", len(x_train))
print("Size of y_train: ", len(y_train))
print("Size of x_test: ", len(x_test))
print("Size of y_test: ", len(y_test))

Size of x_train:  33673
Size of y_train:  33673
Size of x_test:  11225
Size of y_test:  11225

In [ ]:
print(x_train.head())
print('\n')
print(y_train.head())

44561    new delhi reuter indian polic are investig whe...
40179    lubumbashi democrat republ congo reuter the u....
23036    21st centuri wire say more than ngo partner th...
38817    harar reuter zimbabw presid robert mugab said ...
6113     brittni darra teach english rampart high schoo...
Name: text, dtype: object


44561    1
40179    1
23036    0
38817    1
6113     0
Name: target, dtype: int64

###**Vectorization**

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer(max_df = 0.7) # max_df: When building the vocabulary ignore terms that have a document frequency strictly higher than the given threshold
tfidf_train = my_tfidf.fit_transform(x_train)
tfidf_test = my_tfidf.transform(x_test)
# difference between transform and fit_transform
# https://stackoverflow.com/questions/23838056/what-is-the-difference-between-transform-and-fit-transform-in-sklearn#:~:text=In%20layman's%20terms%2C%20fit_transform%20means,both%20calculate%20and%20do%20transformation.

In [ ]:
print(tfidf_train)

  (0, 8170)	0.03809776769570778
  (0, 38089)	0.037022494170171734
  (0, 51443)	0.018106817503303996
  (0, 87275)	0.03830417442023024
  (0, 41365)	0.028695662058114225
  (0, 37753)	0.011925194392974547
  (0, 55169)	0.06065736064395437
  (0, 57115)	0.06109915487648181
  (0, 54573)	0.026067735935147076
  (0, 65601)	0.030441044719660203
  (0, 90540)	0.015818777541631444
  (0, 68347)	0.02435876884227726
  (0, 41698)	0.04159007889139456
  (0, 25793)	0.07630802747505404
  (0, 64130)	0.05053867942017813
  (0, 77908)	0.02388203298294976
  (0, 61426)	0.07774688087695698
  (0, 68641)	0.03243098798684918
  (0, 30647)	0.02481129131464861
  (0, 78581)	0.03399971668088829
  (0, 89569)	0.02370320789114739
  (0, 50437)	0.050244465264109486
  (0, 9691)	0.02755772995730217
  (0, 34309)	0.056609172763900276
  (0, 63142)	0.026798491947970786
  :	:
  (33672, 69572)	0.03606011104910911
  (33672, 53423)	0.05996138398372913
  (33672, 65429)	0.034310120057709934
  (33672, 37753)	0.04330238730692973
  (33672, 54573)	0.1262084469212524
  (33672, 65601)	0.036845518405269874
  (33672, 7421)	0.05205881232062193
  (33672, 33312)	0.04380575660559736
  (33672, 88385)	0.019279220600278757
  (33672, 37026)	0.03645085212658087
  (33672, 81195)	0.020464604647536962
  (33672, 9109)	0.019559453344702556
  (33672, 88189)	0.029275714420491674
  (33672, 81111)	0.023117331246165787
  (33672, 68559)	0.04373000456011249
  (33672, 81365)	0.015061095043029368
  (33672, 9319)	0.01951197492607583
  (33672, 59159)	0.04334470976938783
  (33672, 82125)	0.04348869142079804
  (33672, 69199)	0.021543653992960106
  (33672, 35740)	0.02301532663807306
  (33672, 8246)	0.05504745956346731
  (33672, 88627)	0.018459635828331298
  (33672, 10787)	0.015766880108413272
  (33672, 69594)	0.03605810911283031

###**Logistic Regression**

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
model_l = LogisticRegression(max_iter=900) 
model_l.fit(tfidf_train, y_train)
pred_l = model_l.predict(tfidf_test)
accuracyscore_l = accuracy_score(y_test, pred_l)      # return score of correctly classified samples
print("The accuracy of LogisticRegression is: ", accuracyscore_l)

The accuracy of LogisticRegression is:  0.9889532293986637

###**Passive Aggressive Classifier**

In [ ]:
from sklearn.linear_model import PassiveAggressiveClassifier

In [ ]:
model = PassiveAggressiveClassifier(max_iter = 50)
model.fit(tfidf_train, y_train)

PassiveAggressiveClassifier(C=1.0, average=False, class_weight=None,
                            early_stopping=False, fit_intercept=True,
                            loss='hinge', max_iter=50, n_iter_no_change=5,
                            n_jobs=None, random_state=None, shuffle=True,
                            tol=0.001, validation_fraction=0.1, verbose=0,
                            warm_start=False)

In [ ]:
y_pred = model.predict(tfidf_test)
accuracyscore = accuracy_score(y_test, y_pred)
print("The accuracy of PassiveAggressiveClassifier is: ", accuracyscore)

The accuracy of PassiveAggressiveClassifier is:  0.9960801781737194